@model Billing.DTO.SkuDto

@{
    ViewData["Title"] = "Editsku";
}


<div class="row">
    <div class="col-md-4">
        <form asp-action="Editsku" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.HiddenFor(model => model.SkuId)
            </div>
            <p>
                @Html.DisplayNameFor(model => model.SkuName)
            </p>
            <div class="form-group">
                @Html.EditorFor(model => model.SkuName)
                <span asp-validation-for="SkuName" class="text-danger"></span>
            </div>
            <p>
                @Html.DisplayNameFor(model => model.Count)
            </p>
            <div class="form-group">
                @Html.EditorFor(model => model.Count)
                <span asp-validation-for="Count" class="text-danger"></span>
            </div>
            <p>
                @Html.DisplayNameFor(model => model.CorporationId)
            </p>
            <div class="form-group">
                @Html.EditorFor(model => model.CorporationId)
                <span asp-validation-for="CorporationId" class="text-danger"></span>
            </div>
            <p>
                @Html.DisplayNameFor(model => model.Enabled)
            </p>
            <div class="form-group">
                @Html.EditorFor(model => model.Enabled)
            </div>
            <div class="form-group">
                @Html.HiddenFor(model => model.NomenklaturaId)
            </div>
            <div class="form-group">
                @Html.HiddenFor(model => model.ProductTypeId)
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Назад", "SkuList", "admin", new { nomenklaturaId = Model.NomenklaturaId, productId = Model.ProductTypeId })
</div>

